@import '~antd/dist/antd.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.carousel-root.banner {
  border-top: 5px solid #212b46;
  border-bottom: 2px solid #212b46;

}
.carousel .control-dots {
  position: absolute;
  top: 0;
  margin: 1em;
  padding: 0 2em 0 0 !important;
  width: 100%;
  text-align:right !important;
} .form-select{height:50px;}

.badge-uvs {
        top: 0;
        display: inline-block;
        padding: 5px;
        width: 24px;
        height: 24px;
        font-size: 75%;
        font-weight: 700;
        line-height: 14px;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 50%;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        position: absolute;
        right: 15px;
}
.bg-blue-700 { 
  border: 0;
        border-radius: 40px;box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
        background-color: #2b6cb0;
}
.bg-blue-700:hover { 
  background-color:#212b46;
}
.btn-secondary { 
  background-color:#212b46;
}
.menu-row-uvs {
  font-size:14px;
  border-top: 1px solid #ddd;
}

.uvs-menu-b {
  background:#fbfbfb;
}
.uvs-menu-b:hover{
  background: #e5f1ff;
}
.uvs-menu-b-sub{
  padding:40px;
  background: #e5f1ff;
  width: 70vw;
  height:450px;
  cursor:pointer;
}
.uvs-menu-b-sub span{
  width:100%;
  float:left;
  line-height:30px;
  cursor:pointer;
}
.p-t-uvs-m{
  margin-top:5px;
  line-height:30px;
  cursor:pointer;
}
.carousel-item{
  display:block;
}
.uvs-menubars a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    padding: 0 10px;
    line-height: 34px;
    cursor:pointer;
} p.text-sm {
  font-size: 12px;
}.bg-gray-300 img{width:161px;height:161px;}
.MuiSvgIcon-root{margin-right:5px;     width: 1.5em!important;
  height: 1.5em!important;}
.uvs-productss{
  height: 510px;
  overflow-y: auto;
} .btn.btn-primary .MuiSvgIcon-root {
  width: 24px!important;
  height: 24px!important;
}
.btn-primary{background: #212b46;} .uvs-menubars .MuiSvgIcon-root {
  width: 18px!important;
  height: 18px!important;
}p .MuiSvgIcon-root {
  width: 18px!important;
  height: 18px!important;
}.mt-4 .MuiSvgIcon-root {
  width: 18px!important;
  height: 18px!important;
}
.bg-dark {
  background-color: #343a40!important;
  text-align: center;
  width: 100%;
  position: absolute;
}
.bg-dark .row {float: right;}
.ant-card-body {
  padding: 0;
}

