@import '~antd/dist/antd.css';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.carousel-root.banner {
  border-top: 5px solid #212b46;
  border-bottom: 2px solid #212b46;

}
.form-select{height:50px;}

.badge-uvs {
        top: 0;
        display: inline-block;
        padding: 5px;
        width: 24px;
        height: 24px;
        font-size: 75%;
        font-weight: 700;
        line-height: 14px;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 50%;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        position: absolute;
        right: 15px;
}
.bg-blue-700 { 
  border: 0;
        border-radius: 40px;box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
        background-color: #2b6cb0;
}
.bg-blue-700:hover { 
  background-color:#212b46;
}
.btn-secondary { 
  background-color:#212b46;
}
.menu-row-uvs {
  font-size:14px;
  border-top: 1px solid #ddd;
}

.uvs-menu-b {
  background:#fbfbfb;
}
.uvs-menu-b:hover{
  background: #e5f1ff;
}
.uvs-menu-b-sub{
  padding:40px;
  background: #e5f1ff;
  width: 70vw;
  height:450px;
  cursor:pointer;
}
.uvs-menu-b-sub span{
  width:100%;
  float:left;
  line-height:30px;
  cursor:pointer;
}
.p-t-uvs-m{
  margin-top:5px;
  line-height:30px;
  cursor:pointer;
}
.carousel-item{
  display:block;
}
.uvs-menubars a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    padding: 0 10px;
    line-height: 34px;
    cursor:pointer;
} p.text-sm {
  font-size: 12px;
}.bg-gray-300 img{width:161px;height:161px;}
.MuiSvgIcon-root{margin-right:5px;     width: 1.5em!important;
  height: 1.5em!important;}
.uvs-productss{
  height: 510px;
  overflow-y: auto;
} .btn.btn-primary .MuiSvgIcon-root {
  width: 24px!important;
  height: 24px!important;
}
.btn-primary{background: #212b46;} .uvs-menubars .MuiSvgIcon-root {
  width: 18px!important;
  height: 18px!important;
}p .MuiSvgIcon-root {
  width: 18px!important;
  height: 18px!important;
}.mt-4 .MuiSvgIcon-root {
  width: 18px!important;
  height: 18px!important;
}
.bg-dark {
  background-color: #343a40!important;
  text-align: center;
  width: 100%;
  position: absolute;
}
.bg-dark .row {float: right;}
.ant-card-body {
  padding: 0;
}
.site-card-border-less-wrapper ul{
  list-style: none;
  line-height:40px;
  margin:0;
  padding:0px 20px;
}
.site-card-border-less-wrapper .ant-card {
  border-radius: 12px;
  margin-bottom:-20px;
  padding-bottom:30px;
}
.site-card-border-less-wrapper .ant-card-body {
  padding: 0 20px;
}.ant-card-head{
  padding: 0 40px;
  border:0;
  margin-bottom:-10px;
}
.rcw-launcher,.rcw-conversation-container .rcw-header{
  background: #c30fd3!important;
}
.phoneinput {
  width: 100% !important;
}
.rcw-conversation-container .rcw-title {
  color: #fff;
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
  }
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
} 
.ant-modal-content{background: #c4c4c4;text-align:center; padding: 20px;}
.ant-modal-content h5{margin-bottom:10px;}
.ant-modal-footer{display:none;}
.ant-modal-content .ant-btn-block{margin-bottom: 15px;}
 .ant-modal-content .ant-btn-block:focus {
  border-color: #000;
  border-right-width: 4px !important; 
}
